body{
    background-color:#204d6c;
    font-size: 15px;
}
#wrapper {
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}
#item1{
    font-size:32px;
    display: block;
    padding-left: 50px;
    margin-left: 200px; 
    background-color: gray;height: 120px;
}
#item2 {grid-column-start: 2;
grid-column-end:4; margin-left:0;
margin-right: 180px; background-color: gray; padding: 50px; height:20px;
}
#top {color: black;}
#item3 {margin-left: 200px;grid-gap:40px;color: white; text-align: justify;
     border:3px solid #444; border-radius: 10px;
     width: 65%; padding: 0 10px;height: 200px;
}
#item4 {border: 1px solid black; margin-left:200px; margin:0 auto;
    color: white; text-align: justify;
     border:3px solid #444; border-radius: 10px; height: 200px;
     width: 65%; padding: 0 10px;}
#item5 {
     border: 1px solid black;
        margin-right: 200px; color: white; text-align: justify;
     border:3px solid #444; border-radius: 10px;
     width: 65%; padding: 0 10px; height: 200px; 
}     
#item6 {
    grid-row: span 2; height:355px; line-height: 30px;
    margin-left: 200px; border: 5px solid rgb(114, 110, 110);
    list-style: none; background-color: white;}
#nolist{list-style:none;}
#link {color:black;}
    
#item7 {grid-column-start: 2;
     grid-column-end:4; background-color: white; width: 83%; margin-top: 10px;
    margin-right: 160px;text-align: justify; margin-top:0;  border: 5px solid rgb(114, 110, 110);padding: 10px; height: 336px;
}
#item8{float: left; line-height:30px}
#item9 {float:left; line-height:30px}

#item10 {grid-column-start:1; padding-bottom: 30px;
grid-column-end:4;
background-color: black; height: 160px; color: white;
margin-left: 200px; margin-right: 180px;margin-top:0; }
 img{height: 60px; padding: 0px 30px 0px 30px; display: inline-block;}
 
 #footer_top{display: block; padding-left: 400px; font-weight:bold;}
 #footer_center{text-align:center;}



#footer_right {text-align: end; padding-right: 30px;margin-bottom: 50px;}
#footer_right_text {margin-right: 35px;} 